* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mcontainer {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
}

.formdescription {

    font-size: 35px;
    background: -webkit-linear-gradient(300deg, #03befd, #fb470b, #0263ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.contactul li a:hover {
    text-decoration: none;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #003ef8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 30px;
}

.container .contacthead {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    padding: 20px;
}